<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./team.css" />
    <title>team</title>
  </head>
  <body>
    <div class="container">
      <h1>TEAM</h1>
      <span
        style="
          display: flex;
          width: 50px;
          height: 2px;
          color: #f2184f;
          background-color: #f2184f;
          margin: 5px 0;
        "
      ></span>
      <div class="row">
        <div class="card">
          <div class="cardImg">
            <img src="./img/" alt="Sharipova Dilyara Jumaniyazovna" />
          </div>
          <div class="cardBody">
            <p class="title">Sharipova Dilyara Jumaniyazovna</p>
            <p class="about">
              Pedagogika fanlari doktori, Nizomiy nomidagi Toshkent davlat
              pedagogika universiteti professori
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/RashidovaFeruza.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Dr. Rashidova Feruza Musaevna</p>
            <p class="about">
              Pedagogika fanlari doktori. O’zbekiston davlat Jahon tillari
              Universiteti professori. Ta'lim sifatini ta'minlash sohasida
              milliy ekspert. ETF eksperti. Mahorat & Management tashkiloti
              milliy eksperti
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/HikmatillayevaUmida.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Hikmatilla (Khikmatillaeva), Umida</p>
            <p class="about">
              Indiana University Bloomington, АQSh 20+ yil oliy ta’lim sohaida
              tajribaga ega. Magistr.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/TillaevaNilufar.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Tillaeva Nilufar</p>
            <p class="about">
              Ilmiy tadqiqotchi, Toshkentdagi Webster Universiteti EFL/ESL/EAP
              instructor/Curriculum Developer/ Test designer/ Material designer
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/KurbonovXudaynazar.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Kurbanov Xudaynazar Hamdamovich</p>
            <p class="about">
              Ilmiy tadqiqotchi. ETF eksperti.Milliy kvalifikatsiya tizimi,
              Xalqaro ta’lim standardti tasniflagichi, ta'lim sifatini
              ta’minlash sohasida mutaxassis, xalqaro tajribaga ega. Mahorat &
              Management nodavlat ta’lim tashkiloti direktori.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/LesKirxam.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Les Kirxam</p>
            <p class="about">
              40+ yil davomida ingliz tili o'qituvchisi va menejer. 1997- 2014
              yillar TESOL Arabia Ijroiya kengashi a’zosi
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/BasiyrRodney.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Dr. Basiyr Rodney</p>
            <p class="about">
              Toshkentdagi Webster universiteti o'qituvchilar malakasini
              oshirish kafedrasi mudiri, Webster universiteti ta'lim
              texnologiyalari professori.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/BoltayevaRokhatoy.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Boltayeva Rokhatoy</p>
            <p class="about">
              Buyuk Britaniyaning Aberdeen universitetida PhD tadqiqotchi.
              Toshkentdagi Webster universitetining Taʼlim va innovatsiyalar
              boʻyicha magistratura dasturlari koordinatori. “Dizayn fikrlash”
              kursida oʻrgatuvchi assistent professor.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="cardImg">
            <img
              src="./img/GanievaAziza.jpg"
              alt="Sharipova Dilyara Jumaniyazovna"
            />
          </div>
          <div class="cardBody">
            <p class="title">Ganieva Aziza Zayniddinovna</p>
            <p class="about">
              PhD, Toshkentdagi Yeoju texnika instituti katta o‘qituvchisi
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>