{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% load static %}
{% load i18n %}
{% load check_lang %}

{% block content %}
    <div class="container main">
        <div class="container">
            <h2 style="text-align: center; color: black; center;font-size: 40px;font-family: 'Ramaraja'">{% trans "Редакция" %}</h2>

            <span
                    style="
          display: flex;
          width: 50px;
          height: 2px;
          color: #f2184f;
          background-color: #f2184f;
          margin: 5px 0;
        "
            ></span>
            <div class="row">
                {% for redikt in redikts %}
                    <div class="card">
                        <div class="cardImg">
                            <img style="width: 200px" src="{{ redikt.image.url }}"/>
                        </div>
                        <div class="cardBody">
                            <p class="title">{{ redikt.name }}</p>
                            <p class="about">
                            <p style="text-decoration: underline;color: black"><span
                                    style="text-decoration: underline;color: black">{{ redikt }}</span>
                                - {{ request|check_lang:redikt }}</p>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="names">
        </div>
    </div>
    <style>
        .main {

        }

        .names {
            width: 75%;
            padding: 0 5% 0 20%;
        }
    </style>

{% endblock %}
