{% extends 'base.html' %}

{% block title %}Send Materials{% endblock %}

{% load i18n %}
{% load check_lang %}

{% block content %}
    <div class="container main">
        <br>
        <h2 style="color: black"><b>{% trans "Контрольный список подготовки материала к отправке" %}</b></h2>
        <p style="color: black">{% trans "rv" %}</p>

        <ul>
            <li style="color: black">{% trans "rv1" %}</li>
            <li style="color: black">{% trans "rv2" %}</li>
            <li style="color: black">{% trans "rv3" %}
            </li>
        </ul>

        <h2 style="color: black"><b>{% trans "Руководство для авторов" %}</b></h2>
        <p style="color: black">{% trans "rv4" %}</p>
        <p style="color: black">{% trans "rv5" %}</p>
        <h4 style="color: black"><b>{% trans "Структура" %}</b></h4>

        <p style="color: black">{% trans "Статья имеет следующую структуру: " %}<br>
            {% trans "- Название; " %}<br>
            {% trans "- Авторы и их аффилиации;" %}<br>
            {% trans "- Аннотация;" %}<br>
            {% trans "- Ключевые слова;" %}<br>
            {% trans "- Введение;" %}<br>
            {% trans "- Основная часть (содержательные разделы / параграфы);" %}<br>
            {% trans "- Заключение;" %}<br>
            {% trans "- Литература;" %}<br>
            {% trans "- Подробные сведения об авторах." %}</p>

        <p style="color: black">
            <b>{% trans "Если ваша статья на русском или узбекском языке, пожалуйста прикрепите следующие данные на английском, в отдельном файле:" %}</b>
        </p>

        <p style="color: black">{% trans "- Название;" %} <br>
            {% trans "- Авторы и их аффилиации;" %}<br>
            {% trans "- Аннотация (Abstract);" %}<br>
            {% trans "- Ключевые слова (Key words);" %}<br>
            {% trans "- Литература (References);" %}<br>
            {% trans "- Подробные сведения об авторах." %}</p>

        <h2 style="color: black"><b>{% trans "Название статьи" %}</b></h2>

        <p style="color: black">{% trans "Название статьи приводится английском языках. Оно должно быть информативным и раскрывать содержание статьи." %}</p>

        <h3 style="color: black"><b>{% trans "Сведения об авторах" %}</b></h3>

        <p style="color: black">{% trans "d4" %}</p>

        <h3 style="color: black"><b>{% trans "Аннотация" %}</b></h3>

        <p style="color: black">{% trans "Аннотация к статье представляется на русском и английском языках. Объем – 150–250 слов. Аннотация должна отражать основное содержание статьи и быть структурированной." %}</p>


        <h2 style="color: black"><b>{% trans "Ключевые слова" %}</b></h2>

        <p style="color: black">{% trans "d5" %}</p>

        <h2 style="color: black"><b>{% trans "Введение" %}</b></h2>

        <p style="color: black">{% trans "Во Введении даются ответы на вопросы почему и зачем было проведено исследование, какова исследовательская гипотеза." %}</p>


        <h2 style="color: black"><b>{% trans "Основная часть" %}</b></h2>

        <p style="color: black">{% trans "d7" %}</p>

        <h2 style="color: black"><b>{% trans "Заключение" %}</b></h2>

        <p style="color: black">{% trans "d6" %}</p>

        <h2 style="color: black"><b>{% trans "Литература" %}</b></h2>

        <p style="color: black">{% trans "d3" %}</p>

        <h2 style="color: black"><b>{% trans "Требования к оформлению статей" %}</b></h2>

        <p style="color: black">
            <b>{% trans "Формат." %}</b> {% trans "Все материалы представляются в редакцию в электронном виде (в формате MS Word, версия 2003 или выше)." %}

            <b>{% trans "Шрифт, форматирование, нумерация страниц." %}</b>
            {% trans "            Шрифт – Times New Roman, кегль набора – 12 пунктов, полуторный интервал, форматирование по ширине. Нумерация страниц – вверху по центру, поля: левое – 2,5 см, верхнее, нижнее и правое – по 1,5 см." %}
            <b>{% trans "Языки." %}</b> {% trans "Статьи представляются в редакцию на английском, узбекском и/или русском языках." %}

            <b>{% trans "Рисунки" %}</b>{%  trans "d2" %}

            <b>{% trans "Таблицы" %}</b> {% trans "d" %}
        </p>

        <h2 style="color: black"><b>{% trans "Articles" %}</b></h2>
        {% trans "Section default policy" %}

        <h2 style="color: black"><b>{% trans "Заявление о конфиденциальности" %}</b></h2>
        <p style="color: black">{% trans "d1" %}</p>

    </div>

    <style>
        .names {
            width: 75%;
            padding: 0 5% 0 20%;
        }
    </style>
{% endblock %}