{% extends 'base.html' %}

{% block title %}Send Materials{% endblock %}

{% load i18n %}
{% load check_lang %}

{% block content %}
    <div class="container main">
        <br>
        <h2 style="color: black"><b>{% trans "Контрольный список подготовки материала к отправке" %}</b></h2>
        <p style="color: black">{% trans "rv" %}</p>

        <ul>
            <li style="color: black">{% trans "rv1" %}</li>
            <li style="color: black">{% trans "rv2" %}</li>
            <li style="color: black">{% trans "rv3" %}
            </li>
        </ul>

        <h2 style="color: black"><b>{% trans "Руководство для авторов" %}</b></h2>
        <p style="color: black">{% trans "rv4" %}</p>
        <p style="color: black">{% trans "rv5" %}</p>
        <h4 style="color: black"><b>{% trans "Структура" %}</b></h4>

        <p style="color: black">{% trans "Статья имеет следующую структуру: " %}<br>
            {% trans "- Название; " %}<br>
            {% trans "- Авторы и их аффилиации;" %}<br>
            {% trans "- Аннотация;" %}<br>
            {% trans "- Ключевые слова;" %}<br>
            {% trans "- Введение;" %}<br>
            {% trans "- Основная часть (содержательные разделы / параграфы);" %}<br>
            {% trans "- Заключение;" %}<br>
            {% trans "- Литература;" %}<br>
            {% trans "- Подробные сведения об авторах." %}</p>

        <p style="color: black">
            <b>{% trans "Если ваша статья на русском или узбекском языке, пожалуйста прикрепите следующие данные на английском, в отдельном файле:" %}</b>
        </p>

        <p style="color: black">{% trans "- Название;" %} <br>
            {% trans "- Авторы и их аффилиации;" %}<br>
            {% trans "- Аннотация (Abstract);" %}<br>
            {% trans "- Ключевые слова (Key words);" %}<br>
            {% trans "- Литература (References);" %}<br>
            {% trans "- Подробные сведения об авторах." %}</p>

        <h2 style="color: black"><b>{% trans "Название статьи" %}</b></h2>

        <p style="color: black">{% trans "Название статьи приводится английском языках. Оно должно быть информативным и раскрывать содержание статьи." %}</p>

        <h3 style="color: black"><b>{% trans "Сведения об авторах" %}</b></h3>

        <p style="color: black">Сведения об авторах, публикуемые на титульном листе статьи, включают следующие элементы:
            - Фамилия, Имя авторов;
            - полные названия организаций – мест работы авторов, полный почтовый адрес каждой организации (включая
            почтовый
            индекс). Допускается наличие нескольких аффилиаций;
            - адреса электронной почты авторов.</p>

        <h3 style="color: black"><b>{% trans "Аннотация" %}</b></h3>

        <p style="color: black">{% trans "Аннотация к статье представляется на русском и английском языках. Объем – 150–250 слов. Аннотация должна отражать основное содержание статьи и быть структурированной." %}</p>


        <h2 style="color: black"><b>{% trans "Ключевые слова" %}</b></h2>

        <p style="color: black">Ключевые слова приводятся на английском языке. Рекомендуемое количество ключевых слов
            (словосочетаний) – от 6 до
            10.
            Ключевые слова или словосочетания отделяются друг от друга точками с запятыми.</p>

        <h2 style="color: black"><b>{% trans "Введение" %}</b></h2>

        <p style="color: black">{% trans "Во Введении даются ответы на вопросы почему и зачем было проведено исследование, какова исследовательская гипотеза." %}</p>


        <h2 style="color: black"><b>{% trans "Основная часть" %}</b></h2>

        <p style="color: black">Рекомендуется применять структуру IMRAD, предусматривающую, помимо Введения
            (Introduction), следующие разделы:
            «Методы» (Methods), «Результаты» (Results) и «Дискуссия» (Discussion).</p>

        <h2 style="color: black"><b>{% trans "Заключение" %}</b></h2>

        <p style="color: black">Заключение включает повторное обобщенное перечисление основных результатов исследования
            (в соответствии с
            заявленными целями, гипотезами и исследовательскими вопросами), а также оценку их значимости для науки.
            Также
            желательно указать направления дальнейших исследований в данной области. По объему Заключение, как правило,
            не
            превышает 10% от общего объема текста статьи.</p>

        <h2 style="color: black"><b>{% trans "Литература" %}</b></h2>

        <p style="color: black">Иностранная литература приводится на языке оригинала без сокращений. Список литературы
            оформляется в Гарвардском
            стиле. Для транслитерации русскоязычных/узбекоязычных наименований рекомендуется использовать существующие
            онлайн-сервисы. Рекомендуется, чтобы список литературы содержал не менее 15 источников. Элементы списка
            литературы
            нумеруются в порядке их упоминания (цитирования) в тексте статьи. Каждый из источников, включенных с список
            литературы, должен быть процитирован в тексте статьи хотя бы один раз. Цитирование источников в тексте
            статьи
            осуществляется по их номерам в списке литературы, в квадратных скобках (например, [2], [4; 5], [7–10], [3;
            5;
            7–10]).</p>

        <h2 style="color: black"><b>{% trans "Требования к оформлению статей" %}</b></h2>

        <p style="color: black">
            <b>{% trans "Формат." %}</b> {% trans "Все материалы представляются в редакцию в электронном виде (в формате MS Word, версия 2003 или выше)." %}

            <b>{% trans "Шрифт, форматирование, нумерация страниц." %}</b>
            {% trans "            Шрифт – Times New Roman, кегль набора – 12 пунктов, полуторный интервал, форматирование по ширине. Нумерация страниц – вверху по центру, поля: левое – 2,5 см, верхнее, нижнее и правое – по 1,5 см." %}
            <b>{% trans "Языки." %}</b> {% trans "Статьи представляются в редакцию на английском, узбекском и/или русском языках." %}

            <b>{% trans "Рисунки" %}</b> (графики, диаграммы и т.п.) могут быть оформлены средствами MS Word или MS
            Excel. Допускается использование графического векторного файла в формате wmf/emf или cdr v.10. Фотографические материалы предоставляются в формате
            TIF или JPEG, c разрешением изображения не менее 300 точек на дюйм. Нумерация рисунков – сквозная. Ссылки на
            рисунки в тексте обязательны и должны предшествовать позиции размещения рисунка.

            <b>{% trans "Таблицы" %}</b> оформляются средствами MS Word или MS Excel. Нумерация таблиц – сквозная.
            Ссылки на таблицы в тексте обязательны и должны предшествовать позиции размещения таблицы.
        </p>

        <h2 style="color: black"><b>{% trans "Articles" %}</b></h2>
        {% trans "Section default policy" %}

        <h2 style="color: black"><b>{% trans "Заявление о конфиденциальности" %}</b></h2>
        <p style="color: black">Имена и адреса электронной почты, введенные на сайте этого журнала, будут использованы
            исключительно для целей,
            обозначенных этим журналом, и не будут использованы для каких-либо других целей или предоставлены другим
            лицам и организациям.</p>

    </div>

    <style>
        .names {
            width: 75%;
            padding: 0 5% 0 20%;
        }
    </style>
{% endblock %}